/* CUSTOM PROPERTIES */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --grey-transparent: rgba(0, 0, 0, .25);
    --grey: #888;
    --light: #EEE;
    --lighter: rgba(255, 255, 255, .8);
    --primary: #39B5E0;
    --danger: #ff5b57;

    --border-thin: var(--grey) solid;
    --shadow: 0 1px 2px var(--grey-transparent);

    --primary-glow: 0px 0px 8px var(--primary);
    --danger-glow: 0px 0px 8px var(--danger);

    --min-spacing: 8px;
    --min-radius: 8px;

    --height-normal: 2.5rem;

}

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#content {
    appearance: none;
    border: none;
    border-bottom: var(--border-thin);
    border-radius: var(--min-radius);
    background-color: var(--lighter);
    height: var(--height-normal);
    padding: var(--min-spacing);
    width: 100%;
}

input { 
    font-size: 1rem;
    background-color: inherit;
}

input[type="submit"] {
    width: 100%;
    margin-top: var(--min-spacing);
    padding: var(--min-spacing);
    background: var(--primary);
    color: var(--light);
    font-weight: 300;
    font-size: 1.25rem;
}

input[type="submit"], button {
    border-radius: var(--min-radius);
    border: none;
    box-shadow: var(--shadow);
}

input[type="submit"]:active, button:active {
    box-shadow: none;
    transform: translate(0, 2px);
}

/* ELEMENTS */

body {
    background-color: var(--light);
    padding: 25px 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

label, h3 {
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}

.item-actions {
    display: inline-block;
    margin-left: auto;
    opacity: 0;                /* hidden by default, shown on hover */
    flex: 1 1 auto;
}

.item-actions button {
    padding: var(--min-spacing);
    margin-left: var(--min-spacing);
    color: var(--light);
}

.edit-button {
    background-color: var(--primary);
}

.edit-button:hover, .delete-button:hover {
    border-bottom: var(--border-thin);    
}

.delete-button {
    background-color: var(--danger);
}

#todo-list .todo-content {
    appearance: none;
    border: none;
    outline: none;
    cursor: initial;
}

.todo-content {
    flex: 10 1 auto;
}

#todo-list input[type="checkbox"] {
    vertical-align: middle;
    margin-right: 0.5em;
}

.done input[type="text"]{
    color: var(--grey);
    text-decoration: line-through;
}

/* ANIMATIONS */

.animation-error {
    background-color: var(--danger);
    color: var(--light);
    transition: 500ms ease-in;
}

.todo-item:hover .item-actions {
    opacity: 1;
    transition: 0.5s;
}

.todo-item:hover {
    border-bottom: var(--border-thin);
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: var(--min-spacing)
}

.todo-item {
    display: flex;
    align-items: center;
    
    padding: 0.25rem 0.5rem;
    height: var(--height-normal);
    background-color: var(--lighter);
    border-radius: var(--min-radius);
}

