.item-actions {
    display: inline-block;
}

#todo-list input:not([type="checkbox"]) {
    appearance: none;
    border: none;
    outline: none;
    cursor: initial;
    font-size: 1em;
}

#todo-list input[type="checkbox"] {
    vertical-align: middle;
    margin-right: 0.5em;
}

.done input[type="text"]{
    color: grey;
    text-decoration: line-through;
}

