@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

// TODO: Change marks from position:absolute to flex positioning
//       Hint: the layout shift was due to box-sizing not being
//       applied to ::after and ::before

$color-primary: #39B5E0;
$color-secondary: #A31ACB;
$color-secondary-darker: #510d65;
$color-secondary-lighter: #FF78F0;
$color-contrast: #F5EA5A;

$color-border: $color-secondary;
$color-cross: $color-primary;
$color-circle: $color-secondary-lighter;
$color-mark-hover: #B0B0B0;

$cell-size: 100%;
$mark-size: 70%;
$mark-border-cross: 1rem solid $color-cross;
$mark-border-circle: 1rem solid $color-circle;
$mark-border-hover: 1rem solid $color-mark-hover;

$border-width: 0.5rem;

$corner-elements: 1rem;
$shadow-button: 0px 5px 0px 0px $color-secondary-darker;
$shadow-text: 0px 4px 0px $color-secondary;
$shadow-text-h1: 0px 7px 0px $color-contrast;

$xl-text: 7rem;
$lg-text: 4rem;
$md-text: 3rem;

// RESET

*, *::after, *::before { 
    box-sizing: border-box;
}

:root { 
    font-size: 62.5%;
    font-family: 'Concert One', sans-serif;
}

body {
    background-color: $color-secondary-lighter;
    padding: 4rem;
}

h1 {
    font-size: $xl-text;
    color: $color-primary;
    margin: 0;
    text-shadow: $shadow-text-h1;
}

button {
    font-size: $md-text;
    font-family: inherit;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: $corner-elements;
    border: none;
    color: white;
    background-color: $color-secondary;
    box-shadow: $shadow-button;
}

button:active {
    transform: translatey(5px);
    box-shadow: none;
}

.container {
    padding: 2rem;
    border-radius: 2rem;
    background-color: white;
    width: 80vw;
    max-width: 800px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;

    box-shadow: 0px 2rem 0px -5px $color-secondary;
}

// INTERFACE

.container {
    margin: 0 auto;
    text-align: center;
    position: relative;

    & dialog {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        color: white;
        font-size: $lg-text;
        text-shadow: $shadow-text;
        
        width: 80%;
        padding: 2rem;
        background: $color-secondary-lighter;
        border-radius: $corner-elements;
        border-width: 0px;
    }

    & nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        
        & .score {
            font-size: $md-text;
        }

        & .score-crosses {
            color: $color-cross;
        }

        & .score-circles {
            color: $color-circle;
        }

    }
}

// GAME ASSETS

.board {
    margin: 0 auto;
    width: 90%;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: repeat(3, auto);

    & .cell {
        height: $cell-size;
        border: $border-width solid $color-border;
        cursor: pointer;
        position: relative;

    }
    
    & :nth-child(-n+3) {
        border-top: none;
    }
    
    & :nth-child(3n+1) {
        border-left: none;
    }
    
    & :nth-child(3n+3) {
        border-right: none;
    }
    
    & :nth-last-child(-n+3) {
        border-bottom: none;
    }
}

.circle::after,
.board.circle-plays .cell:not(.cross):not(.circle):hover::after {
    content: '';
    width: $mark-size;
    height: $mark-size;
    border-radius: 50%;
    border: $mark-border-circle;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.board.circle-plays .cell:not(.cross):not(.circle):hover::after {
    border: $mark-border-hover;
}

.cross::after, 
.cross::before,
.board.cross-plays .cell:not(.cross):not(.circle):hover::after,
.board.cross-plays .cell:not(.cross):not(.circle):hover::before {
    content: '';
    width: 0;
    height: calc($mark-size * 1.25);
    border-left: $mark-border-cross;

    position: absolute;
    top: 50%;
    left: 50%;
}

.cross::after,
.board.cross-plays .cell:not(.cross):not(.circle):hover::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

.cross::before,
.board.cross-plays .cell:not(.cross):not(.circle):hover::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.board.cross-plays .cell:not(.cross):not(.circle):hover::after,
.board.cross-plays .cell:not(.cross):not(.circle):hover::before {
    border-left: $mark-border-hover;
}