// TODO: Change marks from position:absolute to flex positioning
//       Hint: the layout shift was due to box-sizing not being
//       applied to ::after and ::before

$color-border: black;
$color-mark: $color-border;
$color-mark-hover: gray;

$cell-size: 100%;
$mark-size: 70%;
$mark-border: 1rem solid $color-mark;
$mark-border-hover: 1rem solid $color-mark-hover;


$border-width: 0.5rem;

*, *::after, *::before { 
    box-sizing: border-box;
}

:root { 
    font-size: 62.5%;
}

.board {
    margin: 0 auto;
    width: 80vw;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: repeat(3, auto);

    & .cell {
        height: $cell-size;
        border: $border-width solid $color-border;
        cursor: pointer;
        position: relative;

    }
    
    & :nth-child(-n+3) {
        border-top: none;
    }
    
    & :nth-child(3n+1) {
        border-left: none;
    }
    
    & :nth-child(3n+3) {
        border-right: none;
    }
    
    & :nth-last-child(-n+3) {
        border-bottom: none;
    }
}

.circle::after,
.board.circle-plays .cell:not(.cross):not(.circle):hover::after {
    content: '';
    width: $mark-size;
    height: $mark-size;
    border-radius: 50%;
    border: $mark-border;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.board.circle-plays .cell:not(.cross):not(.circle):hover::after {
    border: $mark-border-hover;
}

.cross::after, 
.cross::before,
.board.cross-plays .cell:not(.cross):not(.circle):hover::after,
.board.cross-plays .cell:not(.cross):not(.circle):hover::before {
    content: '';
    width: 0;
    height: calc($mark-size * 1.25);
    border-left: $mark-border;

    position: absolute;
    top: 50%;
    left: 50%;
}

.cross::after,
.board.cross-plays .cell:not(.cross):not(.circle):hover::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

.cross::before,
.board.cross-plays .cell:not(.cross):not(.circle):hover::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.board.cross-plays .cell:not(.cross):not(.circle):hover::after,
.board.cross-plays .cell:not(.cross):not(.circle):hover::before {
    border-left: $mark-border-hover;
}