@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --color-blue: #00AAFF;
    --color-green: #00FF6C;
    --gradient-blue-green: linear-gradient(to right, #00AAFF, #00FF6C);
    --color-display-bg: rgba(0, 0, 0, .75);
    --color-display-1: rgba(255, 255, 255, 1);
    --color-display-2: rgba(255, 255, 255, .75);
}

* {
    box-sizing: border-box;
    border: none;
}

body { 
    padding: 0;
    margin: 0;
    background: var(--gradient-blue-green); 
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;

    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    gap: 5px;
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    outline: none;
    background-color: var(--color-display-2);
}

.display {
    grid-column: 1 / -1;
    background-color: var(--color-display-bg);
    color: white;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    word-wrap: break-word;
    word-break: break-all;

}

.previous-operand {
    color: var(--color-display-2);
    font-size: 2rem;
}

.current-operand {
    color: white;
    font-size: 3rem;
}

.span-two {
    grid-column: span 2;
}